#descricao{
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
    
}

h1{
    font-style: italic;
    text-align: center;
    font-size: 50px;
    color: #7e5dca;
}

body{
    background-color: #eff1f0;
}
.listas{
    font-size: 17px;
    font-weight: 100;
    color: #7e5dca;
   
}

li:hover{
    font-weight: 900;
}

.header{
    color: #313132;
    font-style: italic;
    font-weight: 900;
}
.pessoal{
    position: absolute;
    left: 186px;
    top: 180px;
}

img{
    border: 3px solid #313132;
    padding: 1px ;
}

.link:hover{
    color: red;
    font-weight: 900;
}
